<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>

<body>
    <header></header>
    <section>
        <a href="/"><img class='logo' src="/assets/images/AP_logo_staand_rgb.png" alt="AP Hogeschool logo"></a>
        <nav>
            <ul>
                <li class="active"><a href="/">Posts</a></li>
                <li><a href="/about">Feedback</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <form action="/" method="get">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <p>
            <%= username %>
        </p>
        <form action="/logout" method="POST">
            <button type="submit" id="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </form>
    </section>
    </header>
    <main>
        <h1>Admin Page</h1>
        <h3>Users</h3>
        <section>
            <section>
                <input type="text" placeholder="Search a user">
                <button>Search</button>
            </section>

            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.role %>
                            </td>
                            <td>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
        <h3>Posts</h3>
        <section>
            <section>
                <input type="text" placeholder="Search a post">
                <button>Search</button>
            </section>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(post=> { %>
                        <tr>
                            <td>
                                <%= post.title %>
                            </td>
                            <td>
                                <%= post.author %>
                            </td>
                            <td>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p><a href="https://www.linkedin.com/in/rizwan-hussain-768973226/" target="_blank">Rizwan Hussain</a> - <a
                href="https://www.linkedin.com/in/precious-ajomole-21792224a/" target="_blank">Precious Ajomole</a></p>
    </footer>
</body>

</html>