<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentenraad ! Home Page</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
<body>
    <header>
        <section>
            <img src="/assets/images/AP_logo_staand_rgb.png" alt="AP Hogeschool logo">
            <nav>
                <ul>
                    <li><a href="/">Posts</a></li>
                    <li><a href="/about">Feedback</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <form action="/" method="get">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <p>Username</p>
            <button>Logout</button>
        </section>
    </header>
    <main></main>
    <footer>
        <p>Made by <a href="https://www.linkedin.com/in/rizwan-hussain-768973226/" target="_blank">Rizwan Hussain</a> en <a href="https://www.linkedin.com/in/precious-ajomole-21792224a/" target="_blank">Precious Ajomole</a></p>
    </footer>
</body>
</html>